/*дополнительные шрифты*/
@font-face {
  font-family: Geometria;
  font-weight: normal;
  font-style: normal;
  src: url(/Geometria/Geometria-Regular.eot);
  src: url(/Geometria/Geometria-Regular.eot?#iefix) format("embedded-opentype"), url(/Geometria/Geometria-Regular.woff) format("woff"), url(/Geometria/Geometria-Regular.ttf) format("truetype");
}

@font-face {
  font-family: Geometria;
  font-weight: normal;
  font-style: italic;
  src: url(/Geometria/Geometria-RegularItalic.eot);
  src: url(/Geometria/Geometria-RegularItalic.eot?#iefix) format("embedded-opentype"), url(/Geometria/Geometria-RegularItalic.woff) format("woff"), url(/Geometria/Geometria-RegularItalic.ttf) format("truetype");
}

@font-face {
  font-family: Geometria;
  font-weight: 500;
  font-style: normal;
  src: url(/Geometria/Geometria-Medium.eot);
  src: url(/Geometria/Geometria-Medium.eot?#iefix) format("embedded-opentype"), url(/Geometria/Geometria-Medium.woff) format("woff"), url(/Geometria/Geometria-Medium.ttf) format("truetype");
}

@font-face {
  font-family: Geometria;
  font-weight: 500;
  font-style: italic;
  src: url(/Geometria/Geometria-MediumItalic.eot);
  src: url(/Geometria/Geometria-MediumItalic.eot?#iefix) format("embedded-opentype"), url(/Geometria/Geometria-MediumItalic.woff) format("woff"), url(/Geometria/Geometria-MediumItalic.ttf) format("truetype");
}

@font-face {
  font-family: Geometria;
  font-weight: 600;
  font-style: normal;
  src: url(/Geometria/Geometria-Bold.eot);
  src: url(/Geometria/Geometria-Bold.eot?#iefix) format("embedded-opentype"), url(/Geometria/Geometria-Bold.woff) format("woff"), url(/Geometria/Geometria-Bold.ttf) format("truetype");
}

@font-face {
  font-family: Geometria;
  font-weight: 600;
  font-style: italic;
  src: url(/Geometria/Geometria-BoldItalic.eot);
  src: url(/Geometria/Geometria-BoldItalic.eot?#iefix) format("embedded-opentype"), url(/Geometria/Geometria-BoldItalic.woff) format("woff"), url(/Geometria/Geometria-BoldItalic.ttf) format("truetype");
}

@font-face {
  font-family: Geometria;
  font-weight: 700;
  font-style: normal;
  src: url(/Geometria/Geometria-ExtraBold.eot);
  src: url(/Geometria/Geometria-ExtraBold.eot?#iefix) format("embedded-opentype"), url(/Geometria/Geometria-ExtraBold.woff) format("woff"), url(/Geometria/Geomet.
